<h1>Restaurants</h1>

<ol>
<% @restaurants.each do |restaurant| %>
<li><p><%= restaurant.name %></p>
<p><%= restaurant.address %></p>
<p><%= restaurant.phone_number %></p>
<p><%= restaurant.category %></p>
</li>
<% end %>
</ol>
